node_modules
dist
.env

Testing/

tesla.db
tesla.db*

private-key.pem
access-key.txt

.paired

target/

Backend/protobuf/*.rs

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
